body {
    background-color: #e7e6e6;
}

.container {
    text-align: center;

}

.inner-cont {

    display: flex;
    flex-wrap: wrap;
}


.btn {
    border-radius: 4px;
    font-size: 1.2em;
    margin: 5px;

}

.box {
    width: 100px;
    height: 10vh;
    margin: 5px;
    border-radius: 15px;
    display: block;
    text-align: center;
    font-weight: 800;
    font-size: 1.2em;
}

.box:hover {
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.fiz-box {
    background-color: rgba(230, 211, 42, 0.6);
}

.buz-box {
    background-color: rgba(170, 57, 57, 0.6);
}

.fiz-buz-box {
    background-color: rgba(45, 136, 45, 0.6);
}

.none-box {
    background-color: #9edddd;
}