.inner-cont {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 100px;
    height: 10vh;
    margin: 5px;
}

.box:hover {
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.red-box {
    background-color: rosybrown;
}

.green-box {
    background-color: rgb(53, 138, 53);
}

.blue-box {
    background-color: rgb(53, 83, 138);
}

/* Hid spin box from min max inputs https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}